*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    position: fixed;
    margin-top:  -100px;
    background-color: #EAC926;
    z-index: 2;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    
}

header{
    background-color: #EAC926;
    padding-top: 100px;
}

header div.logo,
header .form{
    width: 50%;
}

header div.logo{
    padding: 10px;
}
header .form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
}
header nav{
    font-size: 12px;
    margin-left: 20px;
}
header .datos{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border-bottom: solid black 1px;
    margin-bottom: 10px;
}
header .datos-2{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border-bottom: solid black 1px;
    margin-bottom: 10px;
}
header .datos-login{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border-bottom: solid black 1px;
    margin-bottom: 10px;
}
header .datos-login-2{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border-bottom: solid black 1px;
    margin-bottom: 10px;
}
header .datos-register{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border-bottom: solid black 1px;
    margin-bottom: 10px;
}
header .datos-register-2{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border-bottom: solid black 1px;
    margin-bottom: 10px;
}   
header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}

header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

div.last-visit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}

.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    width: 70%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,.description{
    position: relative;
    font-size: 12px;
}
.main-article h4.description{
    display: none;
    margin-top: 20px;
}
.main-article:hover h4.description{
  display: block;
}

.article{
    box-shadow: none;
    transition:400ms;
}

.article:hover{
    box-shadow: #000;
    transition-duration: 100ms;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    position: relative;
    color: #39b54a;
    left: -3px;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    right: 20px;
    top: -15px;
    transition: 400ms;
}
main section article i:hover{
    transform: rotate(-90deg);
    transition-duration: 450ms;
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}
    .login.main .login{
    display: flex;
    background-color: yellow;
}
.login{
    height: 170px;
}

.login .usuario{
    background-color: transparent;
    border-top: 2px;
    border: #EAC926 solid ;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-radius: 5px;
    margin-top: 20px;
    padding-top: 5px;
}
.login .contraseña{
    background-color: transparent;
    border-top: 2px;
    border: #EAC926 solid ;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-radius: 5px;
    margin-top: 20px;
    padding-top: 5px;
    }

.login .enviar{
    display: flex;
    position: relative;
    left: 55px;
    top: 20px;
    border: none;
    background-color: #0044AA;
    color: white;
    padding: 6px 8px 6px 8px;
    border-radius: 5px;
    }
.register .nombre{
    background-color: transparent;
    border-top: 2px;
    border: #EAC926 solid ;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-radius: 5px;
    margin-top: 10px;
    padding-top: 5px;
    }
.register .usuario{
    background-color: transparent;
    border-top: 2px;
    border: #EAC926 solid ;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-radius: 5px;
    margin-top: 10px;
    padding-top: 5px;
    }
.register .mail{
    background-color: transparent;
    border-top: 2px;
    border: #EAC926 solid ;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-radius: 5px;
    margin-top: 10px;
    padding-top: 5px;
    }

.register .fecha{
    background-color: transparent;
    border-top: 2px;
    border: #EAC926 solid ;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-radius: 5px;
    margin-top: 10px;
    padding-top: 5px;
    }
.register .domicilio{
    background-color: transparent;
    border-top: 2px;
    border: #EAC926 solid ;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-radius: 5px;
    margin-top: 10px;
    padding-top: 5px;
    }
.register .perfil{
    background-color: transparent;
    border-top: 2px;
    border: #EAC926 solid ;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-radius: 5px;
    margin-top: 10px;
    padding-top: 5px;
    }
.register h4{
    margin-top: 20px;
    }
.register .foto{
    background-color: transparent;
    border-top: 2px;
    border: #EAC926 solid ;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-radius: 5px;
    margin-top: 10px;
    padding-top: 5px;
    }
.register .contraseña-2{
    background-color: transparent;
    border-top: 2px;
    border: #EAC926 solid ;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-radius: 5px;
    margin-top: 10px;
    padding-top: 5px;
        
        transition: all 300ms;
    }
.register .confirmar{
    background-color: transparent;
    border-top: 2px;
    border: #EAC926 solid ;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-radius: 5px;
    margin-top: 10px;
    padding-top: 5px;
    }
.register .botones{
    display: flex;
    flex-direction: row;
    }
.register .enviar{
    display: flex;
    position: relative;
    left: 15px;
    top: 10px;
    border: none;
    background-color: #0044AA;
    color: white;
    padding: 6px 8px 6px 8px;
    border-radius: 5px;
    margin: 10px;
    }
.register .borrar-todo{
    display: flex;
    position: relative;
    left: 15px;
    top: 10px;
    border: none;
    background-color: #0044AA;
    color: white;
    padding: 6px 8px 6px 8px;
    border-radius: 5px;
    margin: 10px;
    }

footer{
    background-color: #666;
}

footer .information{
    font-size: 5px;
    color: white;
}

@media (min-width: 361px){
    main section article .description{
        display: block;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
    }
}

@media (min-width: 769px){
    main section div.products article{
        width: 22%;
    }
    div.top-header{
        position: relative;
    }
    div.top-header .logo{
        display: block;
    }
}